@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: none;
}
body::-webkit-scrollbar {
	width: 12px;
	background-color: none;
}
body::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}
p {
  color: #DDDDDD;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
@media (orientation: landscape) {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    transition: 0.3s;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow-x: hidden;
  }
  #auitent {
    width: 100vw;
    height: 100vh;
    background: url(https://auitent.com/i/circular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #auitenttitle {
    padding: 40vh 0 0 0;
    margin: 0;
    font-size: 8vw;
    transition: 0.3s;
  }
  .link {
    text-decoration: none;
    color: black;
  }
  p {
    font-size: 1.7vw;
  }
  h2 {
    font-size: 2vw;
    transition: 0.3s;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  .item {
    width: 20vw;
    height: 20vw;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw;
  }
  #us {
    width: 100vw;
    min-height: 50vh;
    background: url(https://auitent.com/i/darkcircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
  }
  #ustitle {
    transition: 0.3s;
    font-size: 4vw;
  }
  #us:hover #ustitle {
    letter-spacing: 1vw;
  }
  #brands {
    width: 100vw;
    min-height: 50vh;
    background: url(https://auitent.com/i/circular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
  }
  #brandstitle {
    transition: 0.3s;
    font-size: 4vw;
  }
  #brands:hover #brandstitle {
    letter-spacing: 1vw;
  }
  #creations {
    width: 100vw;
    min-height: 50vh;
    background: url(https://auitent.com/i/darkcircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
  }
  #creationstitle {
    transition: 0.3s;
    font-size: 4vw;
  }
  #creations:hover #creationstitle {
    letter-spacing: 1vw;
  }
  .note {
    background: white;
    color: black;
    font-size: 1vw;
    margin: 0;
    padding: 0;
  }
}
@media (orientation: portrait) {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    transition: 0.3s;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow-x: hidden;
  }
  #auitent {
    width: 100vw;
    height: 100vh;
    background: url(https://auitent.com/i/squarecircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  #auitenttitle {
    padding: 30vh 0 0 0;
    margin: 0;
    font-size: 24vw;
    transition: 0.3s;
  }
  .link {
    text-decoration: none;
    color: black;
  }
  .space {
    display: block;
  }
  p {
    font-size: 4vw;
  }
  h2 {
    font-size: 6vw;
    transition: 0.3s;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  .item {
    width: 85vw;
    height: 50vw;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: #AFA;
    font-size: 8vw;
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw;
  }
  #us {
    width: 100vw;
    min-height: 70vh;
    background: url(https://auitent.com/i/squaredarkcircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
  }
  #ustitle {
    transition: 0.3s;
    font-size: 10vw;
  }
  #us:hover #ustitle {
    letter-spacing: 2vw;
  }
  #brands {
    width: 100vw;
    min-height: 70vh;
    background: url(https://auitent.com/i/squarecircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
  }
  #brandstitle {
    transition: 0.3s;
    font-size: 10vw;
  }
  #brands:hover #brandstitle {
    letter-spacing: 2vw;
  }
  #creations {
    width: 100vw;
    min-height: 70vh;
    background: url(https://auitent.com/i/squaredarkcircular.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
  }
  #creationstitle {
    transition: 0.3s;
    font-size: 10vw;
  }
  #creations:hover #creationstitle {
    letter-spacing: 2vw;
  }
  .note {
    background: white;
    color: black;
    font-size: 2vw;
    margin: 0;
    padding: 0;
  }
}
